.controller-wrapper {
    display: flex;
}

.controller-wrapper > select {
    display: block;
    width: 120px;
    height: 30px;

    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid #fff;

    background-color: #000;
}

.controller-wrapper > option {
}

.controller-page {
    display: flex;

    margin: 0px 10px;
}

.controller-page > .page {
    height: 30px;
    width: 30px;

    margin: 10px 5px;
    border-radius: 5px;
    border: 1px solid #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.page:hover {
    cursor: pointer;
}
