<html lang='ko'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>

    <link rel='stylesheet' href='/index.css' />
  </head>

  <body>
    {{>nav}}

    <section>
      <h3>김치찜의 기원</h3>

      <p>김치찜의 역사는 상세히 알려져 있지 않다. 일반적으로 한국의 가정에서
        흔하게 구할 수 있는 재료인 배추김치와 저렴한 고기나 생선을 이용하여 한
        솥에 끓여내는 요리이기 때문에 일반 가정집에서 자연 발생한 요리라고
        추측되고 있다.</p>

    </section>

    <section>
      <h3>레시피</h3>

      <p>1. 청주 3, 다진 마늘 1, 생강가루 0.3, 후춧가루 약간을 넣어 돼지고기
        밑간을 해주세요. 김치찜에 넣을 고기는 큼지막하게 넣거나 또는 덩어리로
        넣어주고 먹기 직전에 가위로 싹둑싹둑 잘라 드심 된답니다.</p>

      <p>2. 김치 1/4포기를 준비해주세요. *오래된 묵은지는 흐르는 물에 김칫소를
        씻어 사용하세요. 또 너무 신 김치는 미리 설탕을 넣어 조물조물 무쳐 주셔도
        되고요. 그럼 신맛이 달아난답니다</p>

      <p>3. 양파는 채 썰어 주고 대파, 청양고추는 어슷 썰어 주세요.</p>

      <p>4.물 3컵을 그릇에 담고 양념재료인 된장 0.5, 국간장 5, 설탕 2를 넣고
        고루 섞어 주세요. 여기에 새우젓 1숟가락 정도 추가하셔도 좋아요.</p>

      <p>5. 냄비에 밑간해 놓은 돼지고기를 넣고 김치도 함께 넣어주세요.</p>

      <p>6. 그리고 양념해 놓은 육수를 모두 붓고</p>

      <p>7. 고춧가루 3, 양파, 대파, 청양고추를 모두 넣고 1시간 30분 정도 푹
        끓여주세요. 처음에는 뚜껑을 열고 센 불에서 10분 정도 끓여주다 (그래야지
        고기 잡내가 날아가요) 그다음 뚜껑을 닫고 불은 약불로 줄이고 뭉근하게
        익혀줍니다. 김치가 가정마다 염도, 맵기도 그렇고 신맛도 모두 다르니 이럴
        땐 설탕과 고춧가루를 조절해 가며 입맛에 맞게 간을 해주세요. 김치가 짤
        때는 물에 살짝 씻어주거나 김칫소를 털어주거나 국물을 짜주세요. 1시간
        이상 푹 끓이다 보면 고기에서 기름이 나와 김치에도 배어 윤기가 나고
        고기는 야들야들하니 연해진답니다.</p>

      <p>8. 돼지고기 김치찜 완성 ^^ 김치찜 하실 땐 돼지고기에 밑간을 해주심
        잡내를 없앨 수 있으니~기억해 주시고요. 무엇보다 신선한 고기 구입이
        우선이겠죠.
      </p>
    </section>
  </body>
</html>