<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>


    <script src="/index.js" defer ></script>
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    {{>nav}}

    <h3>돼지고기 김치찜의 닉네임은</h3>
    <input type="text" id="nickname">
    <button id="btn">설정</button>
    <div>
      <h2 id="text"></h2>
      <img src='/background.jpg' alt='' />
    </div>

  </body>
</html>